.container {
  padding: 50px 20px;
  min-height: 100%;
  width: 100%;
}

.grid {
  display: block;
}

.column1 {
  width: 100%;
}

.column2 {
  margin-top: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .grid {
    display: flex;
  }
  .column2 {
    margin-top: 0;
    padding-left: 20px;
    width: 35%;
  }
}
